<div class="row" id="lineaInferior">
  <ul class="nav">
    <li class="nav-item">
    <a class="nav-link" routerLink="vehiculo/formulario">Alta Vehículo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Búsqueda por Unidad</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Destacamentos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Facturación</a>
    </li>
  </ul>

</div>


<br>
<br>
<br>
<br>
<br>

<div class="row justify-content-center">
  <div class="col-md-6 login-form-1">
    <div class="row" id="tituloLogin">BUSCAR MATRICULA</div>
    
    <div>
      <input type="text" class="form-control input-matricula" id="matricula"
        placeholder="p.e., PGC0000A" [(ngModel)]="matricula" required>
    </div>
    <br>
    <button type="button" class="btn btn-success btn-md" (click)="vehiculoBuscado(matricula)">
      Buscar
    </button>
  </div>
</div>

<br>
<br>

<div *ngFor="let vehiculo of vehiculos">
  <app-busqueda-item [vehiculo]="vehiculo" (vehiculoConsultar)="onVehiculoConsultar($event)"
    (vehiculoEliminar)="onVehiculoEliminar($event)" (vehiculoEditar)="onVehiculoEditar($event)">
  </app-busqueda-item>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>